.options {
    position: absolute;
    width: 13vw;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    max-height: 120px;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .option {
    background-color: #fff;
    padding: 8px;
    cursor: pointer;
  }